<div class="mx-3 my-3">
  <div class="w-100 border-bottom mb-4 d-flex flex-row justify-content-between align-items-center">
    <h2> Estudantes </h2>
    <% if current_user.user_type == 'admin' %>
      <button type="button" class="btn btn-outline-success">
        <%= link_to "Adicionar", new_student_path %>
      </button>
    <% end %>
  </div>

  <div class="accordion" id="studentsAccordian">
    <% @students.each do |student| %>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%= dom_id student %>">
            <span> <%= student.name %> </span>
          </button>
        </h2>
        <div id="collapse_<%= dom_id student %>" class="accordion-collapse collapse" data-bs-parent="#studentsAccordian">
          <div class="accordion-body">
            <section class="d-flex flex-row justify-content-between align-items-center pb-1">
              <div class="d-flex flex-column">
                <span> Id: <%= student.id %> </span>
                <span> Nome: <%= student.name %> </span>
                <span> Idade: <%= student.age %> </span>
                <span> Universidade: <%= student.college.name %> </span>
                <span> GRR: <%= student.register %> </span>
                <% if student.address != nil %>
                  <span> Endereço: <%= student.address.streat %>, <%= student.address.number %> </span>
                <% end %>
              </div>
              <% if current_user.user_type == 'admin' %>
                <div class="d-flex flex-row align-items-center">
                  <button type="button" class="btn btn-outline-primary">
                    <%= link_to "Editar", edit_student_path(student) %>
                  </button>
                  <%= button_to "Apagar", student, method: :delete, class: 'btn btn-outline-danger text-white ms-3' %>
                </div>
              <% end %>
            </section>
            <section class="mt-2">
              <h5 class="border-bottom"> Matérias </h5>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Código</th>
                    <th scope="col" class="text-end">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <% student.subject.each do |subject| %>
                    <tr>
                      <td> <%= subject.name %> </td>
                      <td> <%= subject.code %> </td>
                      <td align='right'> 
                        <button type="button" class="btn btn-outline-light btn-sm">
                          <%= link_to "Ver mais", subject %>
                        </button>
                     </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-success">
                  <%= link_to "Adicionar nova matéria", new_students_subject_path(:student_id => student.id) %>
                </button>
              </div>
            </section>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

