<!DOCTYPE html>
<html>
  <head>
    <title>Programação Web - T5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "bootstrap.min", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://kit.fontawesome.com/8493a85789.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Visualizador</a>
        <% if !user_signed_in?%>
          <button type="button" class="btn btn-outline-light">
            <%= link_to 'Logar', new_user_session_path %>
          </button>
        <% end %>
        <% if user_signed_in?%>
          <div>
            <%= link_to 'Universidades', colleges_path, class: 'me-2' %>
            <%= link_to 'Estudantes', students_path, class: 'me-2' %>
            <%= link_to 'Matérias', subjects_path, class: 'me-2' %>
            <%= link_to 'Estudantes/Matérias', students_subjects_path, class: 'me-2' %>
            <button type="button" class="btn btn-outline-light">
                <%= link_to 'Sair', destroy_user_session_path %>
            </button>
          </div>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
