<%= form_with(model: students_subject) do |form| %>
  <% if students_subject.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(students_subject.errors.count, "error") %> prohibited this students_subject from being saved:</h2>

      <ul>
        <% students_subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :student_id, style: "display: block" %>
    <%= form.text_field :student_id %>
  </div>

  <div>
    <%= form.label :subject_id, style: "display: block" %>
    <%= form.text_field :subject_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
