<p style="color: green"><%= notice %></p>

<%= render @students_subject %>

<div>
  <%= link_to "Edit this students subject", edit_students_subject_path(@students_subject) %> |
  <%= link_to "Back to students subjects", students_subjects_path %>

  <%= button_to "Destroy this students subject", @students_subject, method: :delete %>
</div>
